arctic {
	color: #2c2853;
	color: #3d3a80;
	color: #627cc0;
	color: #448189;
	color: #b4e1b0;
	color: #578899;
	color: #83b7bb;
}

city {
	color: #1c3e56;
	color: #355e68;
	color: #3f7967;
	color: #547375;
	color: #8f9588;
	color: #0adbd6;
	color: #abf5f1;
}

fire {
	color: #291138;
	color: #6d4e61;
	color: #21708f;
	color: #5dadc6;
	color: #f75f6b;
	color: #f4b9bd;
	color: #ffdee3;
}

forest {
	color: #382a04;
	color: #86623c;
	color: #5a531c;
	color: #97921d;
	color: #e38e33;
	color: #429fae;
	color: #88c4c5;
}
